<% include ../partials/header %>

<div class="container">
    <header class="jumbotron">
        <div class="container">
            <h1>Welcome to T-Rated!</h1>
            <p>View and Rate Teachers From All Over the World</p>
            <p><a class="btn btn-primary btn-lg" href="/teachers/new">Add a Teacher</a></p>
        </div>
    </header>
    <div class="row">
        <div class="col-lg-12">
            <h3>The Most Rated Teachers!</h3>
        </div>
    </div>
    <div class="row text-center" style="display:flex; flex-wrap: wrap;">
        <% teachers.forEach(function(teacher){ %>
            <div class="col-md-3 col-sm-6">
                <div class="thumbnail">
                    <img src="<%= teacher.image %>">
                    <div class="caption">
                        <h4><%= teacher.name %></h4>
                    </div>
                    <p>
                        <a href="/teachers/<%= teacher._id %>" class="btn btn-primary">More Info</a>
                    </p>
                </div>
            </div>
        <% }); %> 
    </div>
</div>
            

<% include ../partials/footer %>